<!--
页面名称:edit-post.html
页面功能:帖子编辑界面,具有一个文本编辑器
-->
{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block head %}
    {{ super() }}

{% endblock %}
{% block title %}
    编辑讨论{{ post.title }}
{% endblock %}
{% block content %}

    <body>
    <main>
        <div class="container mt-3">
            {% include "_flash.html" %}
            <h3 class="text-info"><strong>编辑讨论</strong></h3>
            <hr class="bg-secondary">
            <form action="/post/edit/{{ post.id }}" method="post">
                {{ form.csrf_token }}
                {{ wtf.form_field(form.title) }}
                <div class="row">
                    <div class="col">
                        {{ wtf.form_field(form.problem) }}
                    </div>
                </div>
                {{ form.body }}
                <div class="text-right">
                    {{ form.submit }}
                </div>
            </form>
        </div>
    </main>
    </body>
    {{ ckeditor.load() }}
    {{ ckeditor.config(name='body') }}
    <script>
        CKEDITOR.on( 'instanceReady', function( evt ) {
            evt.editor.dataProcessor.htmlFilter.addRules( {
                elements: {
                    img: function(el) {
                        el.addClass('img-fluid d-block mx-auto');
                    },
                    table: function (el){
                        el.addClass('table table-responsive');
                    },
                    thead: function (el){
                        el.addClass('thead-light');
                    },
                    blockquote: function (el){
                        el.addClass('m-blockquote');
                    }
                }
            });
        });
    </script>
{% endblock %}