<!--
页面名称:read-notice.html
页面功能:通知阅读界面
说明:显示内容,确认收到,并消除红点
-->
{% extends "base.html" %}
{% from "macro.html" import render_pagination, commentDiv with context %}
{% block head %}
    {{ super() }}
    {{ ckeditor.load_code_theme() }}
    <!--suppress ALL -->
    <style>
        .notice-title-h1{
            font-size: 22px;
            font-weight: bold;
        }

        .notice-div{
            color: white;
            background:#aab3b8bf;
            padding: 5px 15px 8px 15px;
            border-radius: 5px;
        }

        .notice-content{
            color: white;
            background: #343434;
            padding: 8px;
            border-radius: 5px;
        }

        article>h1 {
            font-size: 20px;
            font-weight: bold;
            margin: 10px 0 10px 0;
            padding: 0 10px;
            border-left: 5px solid #20c997;
            line-height: 2em;
        }

        article>h2 {
            font-size: 18px;
            margin-top: 5px;
            margin-bottom: 5px;
            padding: 5px 5px 5px 5px;
            border-bottom: 1px solid #28a745;
        }

        article>h3 {
            font-size: 18px;
            margin-top: 10px;
            margin-bottom: 10px;
            padding: 5px 5px 5px 5px;
            border-bottom: 1px solid #28a745;
        }

        blockquote>p {
            font: 14px/22px normal helvetica, sans-serif;
            margin: 5px 0px 5px 0px;
            font-style:italic;
        }

        .report-textarea{
            height: 100px!important;
        }

        .preview{
            background: white;
            border-radius: 5px;
            color: black!important;
        }

        .blockquote-comment{
            margin-top: 5px;
            border-left: 6px solid #6c6c6c;
            background: #6c757d;
            color: white;
            padding: 8px;
        }

        .p-error-hint{
            color: #f94b43;
            display: none;
            font-weight: bold;
        }

        .p-reply{
            color: #80bdff;
            margin-bottom: 0px;
        }

        .div-comment-body{
            border-bottom: 1px solid #828286;
            padding-bottom: 6px;
        }

        .div-gutter20{
            height: 20px;
        }

        @media screen and (max-width: 567px){
            .div-gutter20{
                height: 5px;
            }
        }

        .hr-margin-5{
            margin: 5px 0 5px 0!important;
        }
    </style>
{% endblock %}
{% block title %}
    {{ notice.title }}
{% endblock %}

{% block content %}
    {{ moment.locale(auto_detect=True) }}
    <body>
    <main>
        <div class="container mt-2">
            {% include "_flash.html" %}
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-decoration-none" href="/">主页</a></li>

                <li class="breadcrumb-item active">通知</li>
            </ol>
            <!-- 帖子主要信息 -->
            <div class="notice-div">
                <h1 class="notice-title-h1" id="noticeTitle" data-id="{{ notice.id }}">{{ notice.title }}</h1>
                <img src="{{ url_for('static', filename=notice.author.avatar ) }}"  width="50" height="50" class="rounded avatar-50">
                <!-- 有错！！！！！！！！
                ！
                ！
                ！
                ！
                ！
                -->
                <div class="d-flex">
                    <div>
                        <a class="ml-2 text-decoration-none text-info" href="#">{{ usernickname }}</a>
                    </div>
                </div>
                <div class="mt-2">
                    <article>
                        {{ notice.content|safe }}
                    </article>
                </div>
                {% if current_user.is_authenticated and current_user.id == notice.author_id %}
                    <div class="d-flex flex-row-reverse mt-1">
                        <a class="mr-2 text-decoration-none text-muted" href="/notice/delete/{{ notice.id }}"><small>删除</small></a>
                    </div>
                {% endif %}
            </div>
            <div class="div-gutter20"></div>
             <!-- 评论主要信息 -->
           
           
            {% if current_user.is_authenticated and current_user.role.name == "学生" %}
            <a class="btn btn-dark" id="commentBtn" href="/notice/confirm/{{ notice.id }}" >确认收到</a>
            {% endif %}

        </div>
    </main>
    <script>
        // 刷新页面清除保存在sessionStorage中的原始数据
        $(function () {
            sessionStorage.setItem('md', '');
        })

        function cancleReply() {
            $("#commentBtn").removeAttr('hidden');
            $("#replyBtn").attr('hidden', 'hidden');
            $("#cancleReplyBtn").attr('hidden', 'hidden');
            $("#replyUserP").html('');
            $("#replyUserP").attr('hidden', 'hidden');
        }

        function replyComment() {
            comment = isEmpty();
            if (!comment){
                return false;
            }
            commentId = sessionStorage.getItem('commentId');
            commentUserId = sessionStorage.getItem('commentUserId');
            noticeId = $("#noticeTitle").data('id');
            $.ajax({
                type: "notice",
                url: "/notice/reply-comment/",
                data: {"notice_id":noticeId, "comment_id": commentId, "comment_user_id": commentUserId, "comment": comment},
                success: function (res) {
                    window.location.reload();
                }
            })
        }

        function reply(commentId, commentUser, commentUserId) {
            $("#commentBtn").attr('hidden', 'hidden');
            $("#replyBtn").removeAttr('hidden');
            $("#cancleReplyBtn").removeAttr('hidden');
            $("#replyUserP").removeAttr('hidden');
            $("#replyUserP").html('@'+commentUser);
            $("#replyUserP").attr('href', '/profile/user/'+commentUserId+'/');
            sessionStorage.setItem('commentId', commentId);
            sessionStorage.setItem('commentUserId', commentUserId);
            $('html,body').animate({ scrollTop: $("#commentPosition").offset().top - 100 }, 200)
        }

        var emoji_tag = $("#emoji-list img");
        emoji_tag.click(function() {
            var e = $(this).data('emoji');
            $("#commentContent").val($("#commentContent").val() + e);
        });

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

        // 预览评论
        function getMarkDownData() {
            let comment = $("#commentContent").val();
            if (comment == ''){
                $("#previewHtml").html('<p class="text-muted"><b>你还没有输入评论,你预览NM呢?</b></p>')
                return false;
            }
            let last = sessionStorage.getItem('md');
            // 评论没有修改时,不发送预览请求
            if (last){
                if (last == comment){
                    return false;
                }
            }
            sessionStorage.setItem('md', comment);
            $.ajax({
                type:"notice",
                url: '/normal/comment/render-md/',
                data: {'md': comment},
                success: function (res) {
                    $("#previewHtml").html(res.html);
                }
            })
        }

        // 评论框按键监听事件
        function tab(obj){
            if (event.keyCode == 9){
                event.preventDefault();
                var indent = '    ';
                var start = obj.selectionStart;
                var end = obj.selectionEnd;
                var selected = window.getSelection().toString();
                selected = indent + selected.replace(/\n/g, '\n' + indent);
                obj.value = obj.value.substring(0, start) + selected
                    + obj.value.substring(end);
                obj.setSelectionRange(start + indent.length, start
                    + selected.length);
            }
        }

        function isEmpty() {
            let comment = $("#commentContent").val();
            // 防止一直按回车键输入空白的评论内容
            if (comment.replace(/<br>/g, '').replace(/\s*/g, '') == ''){
                $(".p-error-hint").slideDown(500);
                $(".p-error-hint").show().delay(2000).hide(500);
                return false;
            }
            if (!comment){
                $(".p-error-hint").slideDown(500);
                $(".p-error-hint").show().delay(2000).hide(500);
                return false;
            }
            return comment;
        }

        // 提交评论
        function noticeComment() {
            comment = isEmpty();
            if (!comment){
                return false;
            }
            let noticeId = $("#noticeTitle").data("id");
            $.ajax({
                type:"notice",
                data: {"commentContent": comment, 'noticeId': noticeId},
                url: "/notice/notice-comment",
                success: function (res) {
                    window.location.reload();
                }
            })
        }

        function submitDelete(commId) {
            $.ajax({
                url:'/notice/delete-comment',
                type: 'notice',
                data: {'comm_id': commId},
                success: function (res){
                    if (res.tag){
                        window.location.reload();
                    }else {
                        alert("删除评论失败!");
                        return false;
                    }
                },
                error: function (){}
            })
        }

        $("#confirm-delete").on("show.bs.modal", function (e){
            let commID = $(e.relatedTarget).data('commid');
            $("#deleteBtn").val(commID);
        })

        function upload() {
            $("#uploadInput").click();
        }

        function uploadImage() {
            let img = $("#uploadInput")[0].files[0];
            let formdata = new FormData();
            formdata.append('file', img);
            $.ajax({
                url:"/normal/ajax-upload",
                type: "notice",
                async: false,
                data: formdata,
                processData: false,
                contentType: false,
                success: function (res) {
                    insertText(document.getElementById('commentContent'), res.imgPath)
                }
            })
        }

        // 在textarea中插入上传的图片markdown的值
        function insertText(obj, str) {
            if (document.selection) {
                var sel = document.selection.createRange();
                sel.text = str;
            } else if (typeof obj.selectionStart === 'number' && typeof obj.selectionEnd === 'number') {
                var startPos = obj.selectionStart,
                    endPos = obj.selectionEnd,
                    cursorPos = startPos,
                    tmpStr = obj.value;
                obj.value = tmpStr.substring(0, startPos) + str + tmpStr.substring(endPos, tmpStr.length);
                cursorPos += str.length;
                obj.selectionStart = obj.selectionEnd = cursorPos;
            } else {
                obj.value += str;
            }
        }
    </script>
    </body>
{% endblock %}